<route path="playground-angular">
  <section class="mfe-app-card" data-app="@org/playground-angular">
    <application name="@org/playground-angular"></application>
  </section>
</route>
<route path="playground-react">
  <section class="mfe-app-card" data-app="@org/playground-react">
    <application name="@org/playground-react"></application>
  </section>
</route>
<route path="playground-vue">
  <section class="mfe-app-card" data-app="@org/playground-vue">
    <application name="@org/playground-vue"></application>
  </section>
</route>
<route path="playground-vanilla">
  <section class="mfe-app-card" data-app="@org/playground-vanilla">
    <application name="@org/playground-vanilla"></application>
  </section>
</route>
<route path="playground-svelte">
  <section class="mfe-app-card" data-app="@org/playground-svelte">
    <application name="@org/playground-svelte"></application>
  </section>
</route>
