<route default>
  <!-- LAYOUT_HEADER -->
  <section class="mfe-home-layout">
    <section class="grid grid-cols-1 gap-6 mfe-home-grid">
      <section class="mfe-app-card" data-app="@org/catalog">
        <application name="@org/catalog"></application>
      </section>
      <section class="mfe-app-card" data-app="@org/profile-vue">
        <application name="@org/profile-vue"></application>
      </section>
      <section class="mfe-app-card" data-app="@org/checkout-angular">
        <application name="@org/checkout-angular"></application>
      </section>
      <section class="mfe-app-card" data-app="@org/simple-vanilla">
        <application name="@org/simple-vanilla"></application>
      </section>
    </section>
  </section>
</route>
